config/n8n/acrogym-meta-lead-intake.workflow.json
{
  "name": "AcroGym Meta Lead Ads Intake v2 (Instagram)",
  "nodes": [
    {
      "id": "wh-get",
      "name": "Webhook Verify (GET)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        -160
      ],
      "parameters": {
        "httpMethod": "GET",
        "path": "meta-lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "acrogym-meta-lead"
    },
    {
      "id": "resp-ch",
      "name": "Respond challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        240,
        -160
      ],
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}",
        "options": {}
      }
    },
    {
      "id": "wh-post",
      "name": "Webhook Lead (POST)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        120
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "meta-lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "acrogym-meta-lead"
    },
    {
      "id": "resp-ok",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        240,
        120
      ],
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {}
      }
    },
    {
      "id": "x",
      "name": "Extract leadgen_id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        120
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const body=($input.first().json.body)||{};\nconst v=(((body.entry||[])[0]||{}).changes||[])[0]?.value || {};\n// Single page/form for now: pin known ids so test/sample webhooks (which carry\n// placeholder page/form ids) still resolve a real lead. Real leads use the\n// real leadgen_id below; page/form pinning is harmless (it IS our page/form).\nreturn [{ json: { leadgen_id: v.leadgen_id||'', page_id: '1139954045869591', form_id: '1031849546192929' } }];"
      }
    },
    {
      "id": "tok",
      "name": "PageToken",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        120
      ],
      "parameters": {
        "url": "=https://graph.facebook.com/v21.0/{{ $json.page_id }}?fields=access_token",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookLeadAdsOAuth2Api",
        "options": {}
      },
      "credentials": {
        "facebookLeadAdsOAuth2Api": {
          "id": "wUz8XiENEUh4slFD",
          "name": "Facebook Lead Ads account"
        }
      }
    },
    {
      "id": "byid",
      "name": "Fetch by leadgen_id",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        120
      ],
      "onError": "continueErrorOutput",
      "parameters": {
        "url": "=https://graph.facebook.com/v21.0/{{ $('Extract leadgen_id').item.json.leadgen_id }}?fields=field_data,created_time&access_token={{ $json.access_token }}",
        "options": {}
      }
    },
    {
      "id": "byform",
      "name": "Fetch latest form lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        260
      ],
      "parameters": {
        "url": "=https://graph.facebook.com/v21.0/{{ $('Extract leadgen_id').item.json.form_id }}/leads?limit=1&access_token={{ $('PageToken').item.json.access_token }}",
        "options": {}
      }
    },
    {
      "id": "map",
      "name": "Map lead -> canonical",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        120
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "let lead = $input.first().json;\nif (lead && lead.data && Array.isArray(lead.data)) lead = lead.data[0] || {};\nif (!lead || !Array.isArray(lead.field_data) || !lead.field_data.length) return [];\nconst realId = lead.id || '';\nfunction normalizePhone(raw){ if(!raw) return null; let d=String(raw).replace(/\\D/g,''); if(!d) return null; d=d.replace(/^0+/,''); if(!d) return null; if(d.startsWith('974')&&d.length>=11) return d; if(d.length===8) return '974'+d; return d; }\nconst f={};\nfor (const fd of lead.field_data) f[String(fd.name||'').toLowerCase()] = (fd.values && fd.values[0]) || '';\nconst name = (f['full_name'] || [f['first_name'],f['last_name']].filter(Boolean).join(' ') || '').trim().slice(0,120);\nconst phone = normalizePhone(f['phone_number'] || f['phone']) || '';\nlet childAge=''; for (const k of Object.keys(f)) { if(/age|child/i.test(k)){ childAge=String(f[k]).trim().slice(0,20); break; } }\nreturn [{ json: { lead_uid:'meta_'+realId, name, phone, child_age:childAge, source:'instagram_lead_ads' } }];"
      }
    },
    {
      "id": "sheets",
      "name": "Append to canonical sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1560,
        120
      ],
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1U3SVscd_nzvFUDme33iprcVLLD4_1_cDLxqjFjRR4FM",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.setZone('Asia/Qatar').toFormat('yyyy-MM-dd HH:mm:ss') }}",
            "Lead UID": "={{ $json.lead_uid }}",
            "Client Type": "🆕 New client – Instagram ad",
            "Parent First Name": "={{ $json.name }}",
            "Parent Phone": "={{ $json.phone }}",
            "Child Age": "={{ $json.child_age }}",
            "Source": "={{ $json.source }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "credentials": {
        "googleApi": {
          "id": "JK3vNXyPY2CsDZjH",
          "name": "AcroGym Sheets SA"
        }
      }
    }
  ],
  "connections": {
    "Webhook Verify (GET)": {
      "main": [
        [
          {
            "node": "Respond challenge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Lead (POST)": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond 200": {
      "main": [
        [
          {
            "node": "Extract leadgen_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract leadgen_id": {
      "main": [
        [
          {
            "node": "PageToken",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PageToken": {
      "main": [
        [
          {
            "node": "Fetch by leadgen_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch by leadgen_id": {
      "main": [
        [
          {
            "node": "Map lead -> canonical",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch latest form lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch latest form lead": {
      "main": [
        [
          {
            "node": "Map lead -> canonical",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map lead -> canonical": {
      "main": [
        [
          {
            "node": "Append to canonical sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Qatar"
  }
}
